.sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	padding: 30px 20px 30px 0;
	background: var(--inverted-bg-color);
	position: relative;
	border-right: 1px solid var(--border-color);
	transition: all 0.5s;
	z-index: var(--modal-z-index);

	&Mobile {
		transform: translateX(-100%);

		&Enter {
			transform: translateX(-100%);
			transition: transform 500ms ease-in-out;
		}

		&EnterActive {
			transform: translateX(0);
		}

		&EnterDone {
			transform: translateX(0);
		}

		&Exit {
			transform: translateX(0);
			transition: transform 500ms ease-in-out;
		}

		&ExitActive {
			transform: translateX(-100%);
		}
	}
}

.switchers {
	position: absolute;
	width: 100%;
	bottom: 20px;
	display: flex;
	justify-content: center;
}

.collapseBtn {
	position: absolute;
	right: -34px;
	bottom: 32px;
}

.items {
	position: relative;
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}
