.popover {
	position: relative;
}

.panel {
	background: var(--secondary-color);
	position: absolute;
	border-radius: 8px;
	border: 1px solid var(--primary-color);
	flex-direction: column;
	display: flex;
	z-index: 100
}
