.popover {
	position: relative;
}

.panel {
	background: var(--bg-color);
	position: absolute;
	border-radius: 8px;
	border: 1px solid var(--primary-color);
	flex-direction: column;
	display: flex;
	z-index: var(--modal-z-index);
}
