.app_dark_theme {
	--bg-color: #15181f;
	--inverted-bg-color: #0C1826;
	--primary-color: #fff;
	--secondary-color: #fff;
	--inverted-primary-color: #646464;
	--inverted-secondary-color: #fff;
	--border-color: #030410;
	--icon-color: #fff;
	--color-focused: #F46119;
}