.app_light_theme {
	--bg-color: #F5F5F5;
	--inverted-bg-color: #fff;
	--primary-color: #1f1f1f;
	--secondary-color: #646464;
	--inverted-primary-color: #646464;
	--inverted-secondary-color: #1f1f1f;
	--border-color: #F2F2F2;
	--icon-color: #646464;


	// skeleton
	--skeleton-color: #fff;
	--skeleton-shadow: #F5F5F5;

	// code-bg
	--code-bg: #fff;

	// focus and hover
	--color-hover: rgb(244 97 25 / 10%);
	--color-focused: #F46119;
}