.app_light_theme {
	--bg-color: #F5F5F5;
	--inverted-bg-color: #fff;
	--primary-color: #646464;
	--secondary-color: #1f1f1f;
	--inverted-primary-color: #fff;
	--inverted-secondary-color: #646464;
	--border-color: #F2F2F2;
	--icon-color: #646464;
	--color-focused: #F46119;
}