.card {
	padding: 15px;
	border-radius: 12px;
	color: var(--secondary-color);
}

.normal {
	background: var(--primary-color);
}

.outlined {
	border: 1px solid var(--primary-color);
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
