.navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;

	img {
		height: 50px;
		margin-right: 10px;
		animation: navspin 2.4s infinite linear;
	}
}

.links,
.actions {
	margin-left: auto;
}

.primary {
	&::before {
		display: none;
	}
}

.mainLink {
	margin-right: 15px;
}

@keyframes navspin {
	0% {
		transform: translate3d(0, -5%, 0);
	}

	50% {
		transform: translate3d(0, 5%, 0);
	}

	100% {
		transform: translate3d(0, -5%, 0);
	}
}